@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&display=swap");

body {
  font-family: "Fira Code", monospace;
  background-color: rgb(23, 20, 37);
  color: #fff;
  margin: 0;
}
.main {
  border: 2px dashed #808080;
  border-radius: 20px;
  /* background-color: rgb(34, 31, 48); */
  height: 10em;
  width: 35em;
  padding: 2em 10em 5em 10em;
  text-align: center;
  margin: 10% auto auto auto;
}

/* верхняя панель */
.header {
  display: table;
  text-align: center;
  width: 20%;
  margin: 0 0 0 auto;
}

.header div {
  display: table-cell;
  vertical-align: middle;
  width: 10%;
  height: 4em;
}

.header-container {
  background-color: #000;
  height: 4em;
  margin: 0 0 auto 0;
}

/* ссылки верхней панели */
.header a {
  color: #fff;
}

/* все ссылки */
a {
  color: #5676d8;
  /* удалили подчеркивание */
  text-decoration: none;
}
